{% for cluster_name, cluster_config in stolon_clusters.items() %}
[{{ cluster_name }}-local]
host=/tmp
port={{ cluster_config.sysconfig.stkeeper.pg_port }}

[{{ cluster_name }}-proxy]
host={{ stolon_proxy_host }}
port={{ cluster_config.sysconfig.stproxy.port }}
sslmode=verify-full

[{{ cluster_name }}-master]
host={{ stolon_cluster_hosts }}
port={{ cluster_config.sysconfig.stkeeper.pg_port }}
target_session_attrs=read-write
sslmode=verify-full

{% if stolon_pg_version >= 13 %}
[{{ cluster_name }}-standby]
host={{ stolon_cluster_hosts }}
port={{ cluster_config.sysconfig.stkeeper.pg_port }}
target_session_attrs=read-only
{% endif %}
{% endfor %}
