export PGSERVICE=local
for P in /etc/sysconfig/stolon-stsentinel-*; do
    F=$(basename "$P")
    eval $(sed -e '/#/d;s/^STSENTINEL/export STOLONCTL/' "$P" )
    echo "cluster: $STOLONCTL_CLUSTER_NAME"
    /usr/local/bin/stolonctl status | sed -n '/===== Keepers\/DB tree =====/,${s/^/> /;p}'
    echo
done
