export PGSERVICE=local
for P in /etc/sysconfig/stolon-stsentinel{% if stolon_multicluster %}-*{% endif %}; do
    F=$(basename "$P")
    eval $(sed -e '/#/d;s/^STSENTINEL/export STOLONCTL/' "$P" )
    /usr/local/bin/stolonctl status | tail -11
done
